@model IEnumerable<ProductHandler.Models.ProductModel>

@{
    ViewData["Title"] = "Produkt liste";

}

@section Scripts
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    }

<h1>Produkt liste</h1>

@using (Html.BeginForm("SearchProducts", "Product", FormMethod.Post, new {id = "searchForm"}))
{
    <p>
        Søg: @Html.TextBox("SearchTerm")
        <input type="submit" value="Search" />
    </p>
}
<div id="tableContainer">
    @{
        await Html.RenderPartialAsync("TablePartial", Model);
    }
</div>