@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Case - Produkt håndtering</h1>
    <p>Af: Nikolaj Skovmose</p>

    <span>Dette er en lile case til at start en samtale omkring.<br /> Den er lavet i .NET 6 med Entityframework.<br /> Der er 2 produktlister, én lavet fra bunden og én der gør brug af Jquery datatables.
    </span>
</div>
